.home-main {
  position: relative;
  margin-top: 238px;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh;
}
.home-one {
  display: flex;
  flex-direction: column;
  gap: 20px;

  justify-content: center;
  align-items: center;
  height: 10rem;
  background-color: black;
}

.home-heading {
  padding: 20px 20px;
  margin-left: 45vw;
  font-family: "Helvetica Neue";
  font-size: 30px;
}
.icon-button {
  margin-left: -50px;
}
.get {
  margin-top: -40px;
  width: 20rem;
  margin-left: -50px;
  background-color: rgb(85, 0, 102);
  padding: 20px 30px;
}
.iconbtn {
  width: 30px;
  height: 30px;
  color: white;
}
.home-tours {
  width: 70%;
  font-size: 15px;
  margin-left: 25%;
}
.tourlist {
  width: 750px;
  border-bottom: 1px solid black;
}

.tourlist button {
  width: 8rem;
}
